<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Blog Website</title>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: #f0f0f0;
        }

       .container {
            max-width: 800px;
            margin: 40px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .container h1 {
            font-weight: 700;
            color: black;
           
        }
        

       .nav-bar {
            background-color: #3498db;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

       .nav-bar a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
        }

       .nav-bar a:hover {
            color: #ccc;
        }

       .card-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }

       .card {
            border: none;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            flex: 1 0 300px;
            padding: 20px;
            border-radius: 10px;
            background-color: #f7f7f7;
        }

       .card-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
        }

       .card-subtitle {
            font-size: 0.9rem;
            color: #666;
            margin-bottom: 10px;
        }

       .card-text {
            font-size: 1rem;
            color: #666;
            margin-bottom: 20px;
        }

       .btn {
            margin-right: 10px;
            padding: 10px 20px;
            font-size: 1rem;
            border-radius: 10px;
            background-color: #3498db;
            border-color: #3498db;
            color: #fff;
        }

       .btn:hover {
            background-color: #2980b9;
            border-color: #2980b9;
        }

       .btn-success {
            background-color: #2ecc71;
            border-color: #2ecc71;
        }

       .btn-success:hover {
            background-color: #27ae60;
            border-color: #27ae60;
        }

       .btn-primary {
            background-color: #9b59b6;
            border-color: #9b59b6;
        }

       .btn-primary:hover {
            background-color: #8e44ad;
            border-color: #8e44ad;
        }

       .btn-info {
            background-color: #f1c40f;
            border-color: #f1c40f;
        }

       .btn-info:hover {
            background-color: #e7b416;
            border-color: #e7b416;
        }

       .btn-danger {
            background-color: #e74c3c;
            border-color: #e74c3c;
        }

       .btn-danger:hover {
            background-color: #c0392b;
            border-color: #c0392b;
        }
    </style>
</head>

<body>
    <div class="nav-bar">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </div>
    <div class="container">
        <h1 class="mb-4 "> Blogify: Write a Blog</h1>
        <a href="/articles/new" class="btn btn-success">Create Article</a>

        <div class="card-list mt-4">
            <% articles.forEach(article => { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <h4 class="card-title text-primary">
                            <%= article.title %>
                        </h4>
                        <div class="card-subtitle text-muted mb-2">
                            <%= article.createdAt.toLocaleDateString() %>
                        </div>
                        <p class="card-text">
                            <%= article.description %>
                        </p>
                        <a href="/articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                        <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
                        <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</body>

</html>